.DS_Store

application/cache/*
application/config/*
application/core/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/*
application/logs/*
application/third_party/*
application/.htaccess

bootstrap/*
captcha/*
cert/*
ckeditor/*
images/*
jqueryui/*
jscript/jquery.js
system/*
tests/*
uploads/*
user_guide/*